<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head th:insert="~{blocks/head :: head}"></head>
<body>
	<main>
		<div th:insert="~{blocks/header :: header}"></div>

		<div class="main-panel" th:style="'background-image: url(' + ${event.imageUrl} + ');'">
			<div class="main-content">
				<h1 th:text="${event.name}" style="color: white; text-shadow: 1px 1px 1px #000;"></h1>
			</div>
		</div>

		<div class="event-container">
			<div class="eventButtons" sec:authorize="isAuthenticated()" th:if="${event.id != null}">
				<form th:if="${isFavorite}" th:action="@{/deleteFavorite}" th:object="${event}" method="post">
					<input name="id" type="hidden" th:value="${event.id}" />
					<button type="submit" name="submit" value="Добавлено" class="favButton"><i class="fa-solid fa-heart"></i></button>
				</form>
				<form th:if="${not isFavorite}" th:action="@{/addFavorite}" th:object="${event}" method="post">
					<input name="id" type="hidden" th:value="${event.id}" />
					<button type="submit" name="submit" value="Добавить" class="favButton"><i class="fa-regular fa-heart"></i></button>
				</form>

				<div sec:authorize="hasRole('ROLE_ADMIN')" style="height: 26px;width: 64px;padding: 12px;display: flex;">
					<form th:if="${not isEdited}" th:action="@{/events/{id}/edit(id=${event.id})}" th:object="${event}" method="get">
						<input name="id" type="hidden" th:value="${event.id}" />
						<button type="submit" name="submit" value="Редактировать" style="width: 26px;height: 26px;padding: 0px;margin-right: 12px;border: none;background-color: white;"><i class="fa-regular fa-pen-to-square" style="color: grey;"></i></button>
					</form>
					<form th:if="${isEdited}" th:action="@{/events/{id}/edit(id=${event.id})}" th:object="${event}" method="get">
						<input name="id" type="hidden" th:value="${event.id}" />
						<button type="submit" name="submit" value="Отредактировано" style="width: 26px;height: 26px;padding: 0px;margin-right: 12px;border: none;background-color: white;"><i class="fa-regular fa-pen-to-square" style="color: green;"></i></button>
					</form>

					<form th:if="${not isDeleted}" th:action="@{/events/{id}/delete(id=${event.id})}" th:object="${event}" method="post">
						<input name="id" type="hidden" th:value="${event.id}" />
						<button type="submit" name="submit" value="Удалить" style="width: 26px;height: 26px;padding: 0px;border: none;background-color: white;"><i class="fa-solid fa-trash" style="color: grey;"></i></button>
					</form>
					<form th:if="${isDeleted}" th:action="@{/events/{id}/restore(id=${event.id})}" th:object="${event}" method="post">
						<input name="id" type="hidden" th:value="${event.id}" />
						<button type="submit" name="submit" value="Удалено" style="width: 26px;height: 26px;padding: 0px;border: none;background-color: white;"><i class="fa-solid fa-trash" style="color: green;"></i></button>
					</form>
				</div>
			</div>

			<section>
				<div class="event-content">
					<p th:utext="${event.description}"></p>
				</div>
			</section>


			<div th:if="${event.gallery != null && !event.gallery.isEmpty()}" class="slideshow-container">

				<div th:each="image,iterStat : ${event.gallery}"
					 th:style="${iterStat.index == 0} ? 'display: block;'" class="slides fade" >
					<img th:src="${image}" style="width:100%; height:100%; object-fit:contain;">
				</div>

				<a class="prev" onclick="plusSlides(-1)">❮</a>
				<a class="next" onclick="plusSlides(1)">❯</a>
			</div>

			<form sec:authorize="hasRole('ROLE_ADMIN')" th:if="${isEdited || isDeleted}" id="restoreForm" th:action="@{/events/{id}/reset(id=${event.id})}" th:object="${event}" method="post">
				<input name="id" type="hidden" th:value="${event.id}" />
				<input name="name" type="hidden" />
				<textarea name="description" style="display: none;"></textarea>
				<button type="submit" name="submit" value="Восстановить" class="saveEvent">Восстановить</button>
			</form>
		</div>

		<div th:insert="~{blocks/footer :: footer}"></div>

	</main>
</body>

</html>